body {
    background-color: #f4f2ee;
    margin: 0;
    padding: 0;
}

.btn-navegacion img {
    width: 25px;
    height: 24px; 
    border-radius: 50%;
}

.btn-navegacion {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color:gray;
}

.Barra-Navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: white;
}

.Busqueda {
    display: flex;
    align-items: center;
}

.Barra-busqueda {
    display: flex;
    align-items: center;
    margin-left: 10px; 
}

.Barra-busqueda input {
    padding-left: 40px; 
    border-radius: 5px; 
    height: 25px;

}

.contenedor-busqueda {
    position: relative;
}

#icono-busqueda {
    position: absolute;
    left: 10px; /* Ajusta según el espacio que quieras entre el ícono y el borde izquierdo */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.Icons {
    display: flex;
    align-items: center;
    margin-left: 10%; 
    justify-items: center;
    gap: 25px;
}

.btn-navegacion:hover {
    color: black; 
}

/* Aquí empieza el css para el grid del cuerpo del documento */

.Grid
{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows:repeat(8,17%) ;
    column-gap: 1em;
    row-gap: 0.5em;
    justify-content: center;
    margin: 2% 10% 0% 10%;
}

.Grid div
{
    border:10px;
    border-color: black;
    border-radius: 10px;
    background-color: white;
   
}

/* CSS para el div de perfil */

.Crear-publicacion{
    padding: 15px;
}

.Perfil{
    grid-row: 1/4 ;
}

.Mas{
    grid-row: 4/6 ;
}

.Publicaciones{
    grid-row: 2/8 ;
}

.Añadir
{
    grid-row: 1/4;
    padding: 15px;
}

.Publicidad{
    grid-row: 4/6;
    overflow: hidden; 
    padding: 0px;
}

.Footer{
    grid-row: 6/8;
    grid-column: 3;
}


.btn-perfil img{
    border-radius: 50px;
    border: 3px solid black;
}

.btn-perfil
{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:20px;

}
/* CSS para el div de crear publicación */


.foto-crear {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.foto-crear img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
}
.foto-crear input
{
    border-radius: 50px;
    width: 100%;
    height: 26px;
    padding: 10px;
    border: gray solid;
    cursor: pointer;
}

.foto-crear input:hover
{
    background-color: rgb(226, 226, 226);
}

.tipo-publicacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.btn-tipo-publicacion {
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 5px; 
    padding: 5px 3px 5px 3px;
    
}

.multimedia i {
    color: blue; 
}

.evento i {
    color: green; 
}

.articulo i {
    color: red; 
}

.btn-tipo-publicacion:hover {
    background-color: rgb(226, 226, 226);
}

/* CSS para publicidad */


.Publicidad img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}


/* CSS para Añadir a tu feed */
.Titulo-añadir{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.Titulo-añadir h3{
    margin: 0px;
}

.Titulo-añadir i{
    color: gray;
    cursor: pointer;
}

.perfil-seguir img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.perfil-seguir {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.perfil-seguir p{
    cursor: pointer;
    margin: 8px;
} 

.perfil-seguir span{
    font-size: 12px;
    color: gray;
} 

.btn-seguir{
    background: none;
    border-radius: 25px;
    width: 100px;
    height: 30px;
    margin-left: 65px;
    cursor: pointer;
    border-color: gray;
}

.btn-seguir:hover{
    background-color: gainsboro;
    border-color:black;
}

.ver-mas p {
    margin: 0; 
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding-left: 10px;
}

.ver-mas{
    margin-right: 50px;
    margin-top: 10px;
}

.ver-mas:hover{
    background-color: gainsboro;
}



