body {
    background-color: #f4f2ee;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.btn-navegacion img {
    width: 25px;
    height: 24px; 
    border-radius: 50%;
}

.btn-navegacion {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color:gray;
}

.Barra-Navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.15);
}

.Busqueda {
    display: flex;
    align-items: center;
}

.Barra-busqueda {
    display: flex;
    align-items: center;
    margin-left: 10px; 
}

.Barra-busqueda input {
    padding-left: 40px; 
    border-radius: 5px; 
    height: 30px;
    border:none;
    background-color:rgb(242, 242, 252);
}

.contenedor-busqueda {
    position: relative;
}

#icono-busqueda {
    position: absolute;
    left: 10px; 
    top: 12%;
    cursor: pointer;
}
.Icons a{
    text-align: center;
    font-size: 12px;
    color:rgb(141, 48, 48);
}

.Icons {
    display: flex;
    align-items: center;
    margin-left: 15%; 
    justify-items: center;
    gap: 25px;
}

.Icons > :first-child {
    color: black;
    border-bottom: 2px solid black;
}


.btn-navegacion:hover {
    color: black; 
}

/* Aquí empieza el css para el grid del cuerpo del documento */

.Grid
{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows:repeat(32,2.1em) ;
    column-gap: 1em;
    row-gap: 0.5em;
    justify-content: center;
    margin: 5.5% 10% 0% 10%;
}

.Grid > div:nth-child(-n+6) 
{
    border:1px solid rgba(128, 128, 128, 0.26);
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.15); 
}

.Crear-publicacion{
    padding: 15px;
    grid-row: 1/ 4;
}

.Perfil{
    grid-row: 1/10 ;
}

.Mas{
    grid-row: 10/14 ;
}

.Publicaciones{
    grid-row: 4/27 ;
}

.Añadir
{
    grid-row: 1/11;
    padding: 15px;
}

.Publicidad{
    grid-row: 11/18;
    padding: 0px;
    position: sticky;
    top: 70px;
}

.Footer{
    grid-row: 18/24;
    grid-column: 3;
    position: sticky;
    top: 362px;
    padding: 15px;
}

/* CSS para el div de perfil */

.fondo img{
    width: 100%;
    height: 60px;
}

.descripcion-foto
{
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
    margin-top: -45px;
}

.btn-perfil img{
    border-radius: 50px;
    border: 3px solid white;
    width: 70px;
    height: 70px;
}

.btn-perfil
{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;

}

.btn-perfil span{
    color:gray;
    font-size:13px;
    margin-top: -15px;
}

.btn-perfil:hover{
    text-decoration: underline;
    text-decoration-color: indigo;
}

.contactos{
    border: none;
    border-top: 1px solid gray;
    background-color: white;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.contactos:hover{
    background-color:rgb(226, 226, 226) ;

}

.contactos p{
    text-align: justify;
    color:black;
    font-size: 13px;
}

.contactos span{
    color:gray;
    font-size: 12px;
}

.premium{
    border: none;
    border-top: 1px solid gray;
    background-color: white;
    cursor: pointer;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.premium:hover{
    background-color:rgb(226, 226, 226) ;

}

.premium:hover span{
    text-decoration-color: #3498db;
    color: #3498db;
}

.premium p{
    text-align: justify;
    color:gray;
    font-size: 12px;
}

.premium span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: black;
    font-size: 13px;
}
.premium span i{
    color:orange;
}

.marcapaginas{
    border: none;
    border-top: 1px solid gray;
    background-color: white;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-top: 7px;
}
.marcapaginas i{
    color:gray;
}

.marcapaginas:hover{
    background-color:rgb(226, 226, 226) ;

}

.marcapaginas p {
    font-size: 13px;
}
/* CSS para el div de crear publicación */


.foto-crear {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.foto-crear img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
}
.foto-crear input
{
    border-radius: 50px;
    width: 100%;
    height: 26px;
    padding: 10px;
    border: gray solid;
    cursor: pointer;
}

.foto-crear input:hover
{
    background-color: rgb(226, 226, 226);
}

.tipo-publicacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3px;
   
}

.btn-tipo-publicacion {
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 5px; 
    padding: 5px 3px 5px 3px;
    
}

.multimedia i {
    color: blue; 
}

.evento i {
    color: green; 
}

.articulo i {
    color: red; 
}

.btn-tipo-publicacion:hover {
    background-color: rgb(226, 226, 226);
}

/* CSS para publicidad */


.Publicidad img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}


/* CSS para Añadir a tu feed */
.Titulo-añadir{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.Titulo-añadir h4{
    margin: 0px;
}

.Titulo-añadir i{
    color: gray;
    cursor: pointer;
}

.perfil-seguir img {
    border-radius: 50px;
    width: 45px;
    height: 45px;
}

.perfil-seguir {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.perfil-seguir p{
    cursor: pointer;
    margin: 8px;
    font-size: 13px;
} 

.perfil-seguir span{
    font-size: 11px;
    color: gray;
} 

.btn-seguir{
    background: none;
    border-radius: 25px;
    width: 100px;
    height: 30px;
    margin-left: 65px;
    cursor: pointer;
    border-color: gray;
    margin-top: 2px;
    font-size: 15px;
}

.btn-seguir:hover{
    background-color: gainsboro;
    border-color:black;
}

.ver-mas p {
    margin: 0; 
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding-left: 10px;
    font-size: 13px;
    color: gray;
}

.ver-mas{
    margin-right: 50px;
    margin-top: 12px;
    border-radius:3px ;
}

.ver-mas:hover{
    background-color: gainsboro;
}

/* CSS para el botón más */
.Mas-eventos{
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 15px;
}

.agregar-evento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Mas-eventos button:hover{
    background-color: gainsboro;
}

.a-mas-evento{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #3498db; 
    font-size: 12px;
}

.a-mas{
    text-decoration: none; 
    color: #3498db; 
    font-size: 12px;
}

.a-mas-evento span:hover{
    text-decoration: underline;
}

.a-mas :hover{
    text-decoration: underline;
}

.Mas-ver-mas{
    border: none;
    background: none;
    width: 100%;
    border-top: 1px solid gray;
    margin: 0;
    color: gray;
    padding: 14px;
}

.Mas-ver-mas:hover{
    background-color:  rgb(226, 226, 226);
}

/* CSS para el div de publicaciones */

.interaccion-publicaciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid gray;
    margin: 0px 15px 0px 15px;
    padding-top: 5px;
}

.btn-interacccion-publicaciones{
    background:none;
    border: none;
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
    padding: 10px;
    border-radius: 5px;

}

.btn-interacccion-publicaciones:hover{
    background-color:  rgb(226, 226, 226);
}

.perfil-publicacion{
    padding-left: 15px;
    padding-top: 10px;
}

.link-perfil-publicacion img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.link-perfil-publicacion{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
}

.link-perfil-publicacion span{
    color:black;
    font-size: 14px;  
}

.link-perfil-publicacion p{
    color:gray;
    font-size: 11px;
}

.perfil-publicacion a.link-perfil-publicacion i.material-icons {

    font-size: 14px; 
}

.imagen-publicacion img{
    width: 100%;
    height: 100%;
}
.descripcion-publicacion{
    padding: 0px 15px 0px 15px;
    font-size: 13px;
}

.reacciones{
    padding:0px 15px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reaccion-emoticon{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.reaccion-emoticon p{
    text-align: left;
    margin-left: -35px;
    color:gray;
    font-size: 12px;
}
.reaccion-emoticon p:hover{
    text-decoration: underline;
    color: blue;
}
.reacciones a.reaccion-emoticon i.material-icons {
    color:blue;
    font-size: 18px;
}
.comentario-compartido{
    color:gray;
    font-size: 12px;
    text-decoration: none;

}
.comentario-compartido span:hover{
    text-decoration: underline;
    color: blue;

}

/*Footer Css*/

.Footer .material-icons {
    font-size: 15px; 
}

.descripcion-footer{
    text-align: center;
    font-size: 11px;
    margin-top: -2px;
}
.descripcion-footer a{
    margin-left: 5px;
    text-decoration: none;
    color: gray;
  
}
.descripcion-footer a:hover{
    text-decoration: underline;
    color:blue;
}
.descripcion-footer span{
    color: black;
}